:root {
    /* Color Palette (I generated it using: https://colorffy.com/dark-theme-generator?colors=A10CF7-121212&success=22946E&warning=A87A2A&danger=9C2121&info=21498A&primaryCount=6&surfaceCount=6  */

    /* Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /* Theme primary colors */
    --clr-primary-a0: #a10cf7;
    --clr-primary-a10: #af3df9;
    --clr-primary-a20: #bc5afa;
    --clr-primary-a30: #c874fc;
    --clr-primary-a40: #d38cfd;
    --clr-primary-a50: #dda3fe;

    /* Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /* Theme tonal surface colors */
    --clr-surface-tonal-a0: #201725;
    --clr-surface-tonal-a10: #352c3a;
    --clr-surface-tonal-a20: #4b434f;
    --clr-surface-tonal-a30: #625b66;
    --clr-surface-tonal-a40: #7a747e;
    --clr-surface-tonal-a50: #948e96;

    /* Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /* Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /* Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /* Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}