@import "color-style.css";
@import "style.css";


/* About Section Styling */
section#about {
    min-height: var(--about-height);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 500px;
    width: 500px;

    background-color: var(--clr-surface-tonal-a10);

    border: 4px solid var(--clr-surface-tonal-a20);
    border-radius: var(--default-border-radius);

    margin-left: var(--page-horizontal-margin);
    margin-bottom: var(--page-horizontal-margin);

    float: right;
}

/* Features Section Styling */
section#features {
    height: var(--features-height)
}