@import "color-style.css";
@import "style.css";


/* About Section Styling */
section.about {
    min-height: var(--about-height);
}

.image {
    height: 400px;
    width: 400px;
    background-color: var(--clr-surface-tonal-a10);
    border: 4px solid var(--clr-surface-tonal-a20);
    border-radius: var(--default-border-radius);
}

figure {
    float: right;
    margin-left: var(--page-horizontal-margin);
    margin-bottom: var(--page-horizontal-margin);
    text-align: center;
}

figcaption {
    font-size: 20px;
    margin-top: 10px;
}

.card > h1 {
    margin-bottom: 25px;
}