@import "color-styles.css";
@import "style.css";

#map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#planet-map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;
    background-color: var(--clr-surface-tonal-a10);
    border-radius: var(--default-border-radius);
    border: 3px solid var(--clr-surface-tonal-a20);
}